* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom right, #f3eef2, #c10d46);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

.preparing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

img#img_subject {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1.choosen {
    color: #fff;
    font-size: 30px;
    margin-bottom: 15px;
    font-family: 'Courier New', monospace;
}

h1.choosen span {
    color: #ffd700;
    font-weight: bold;
}

.beskrivning {
    color: #fff;
    font-size: 18px;
    margin-bottom: 30px;
    font-family: 'Courier New', monospace;
}

.startBtn-Container {
    margin: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.start-button {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(246, 169, 220);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    touch-action: manipulation;
    font-size: 18px;
    transition: transform 0.2s ease;
}

.start-button:hover {
    transform: scale(1.05);
}

.start-button:before {
    content: "";
    background: linear-gradient(45deg, #ff0000, #c9309b, #ece8eb, #f1edf0, #ad649b, #b650a3, #7a00ff, #ff00c8, #dd4c99);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.start-button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f8f4f4;
    left: 0;
    top: 0;
    border-radius: 10px;
}


@media only screen and (max-width: 600px) {
    .preparing {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
}