}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom right, #e5eef9, #2665ed);
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #333;
}

@media only screen and (max-width: 600px) {
  .result-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
}