* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom right, #f8f7f4, #d3bc09);
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}

#quiz-app {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

#question-container {
  margin-bottom: 20px;
  text-align: center;
}

#question {
  font-size: 28px;
  margin-bottom: 15px;
  color: #222;
  font-weight: bold;
}

#question-image {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.button {
  padding: 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 16px;
}

.button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

#controls {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#controls.show {
  display: flex;
}

#start-btn,
#next-btn {
  padding: 10px 30px;
  background-color: #28A745;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s, transform 0.2s;
}

#start-btn:hover,
#next-btn:hover {
  background-color: #218838;
  transform: scale(1.05);
}

#startCountDown,
#timer {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #d9534f;
}

.hide {
  display: none;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@media only screen and (max-width: 600px) {
  .quiz-app {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
}